#wrap{
    margin: 5%;
}

header{
    border: 2px solid silver;
    padding: 20px;

}

section{
    display: flex;
}

section aside{
    border: 2px solid silver;
    padding: 50px;
    margin: 5%;
}

article{
    border: 2px solid silver;
    padding: 50px 200px;
    margin: 5%;
}