
#wrap{
    margin: 5%;
}

header{
    border: 2px solid silver;
    padding: 20px;
    position: relative;

}

main{
    display: flex;
    position: relative;
}

main aside{
    display: 1;
    border: 2px solid silver;
    margin: 1%;
    padding: 10px;
    margin-bottom: 80px;
}

section{
    border: 2px solid silver;
    padding: 50px 200px;
    margin: 1%;
    text-align: left;
}

section ul li{
    padding: 200px;
    
}

footer{
    border: 2px solid silver;
    margin: 1%;
    padding: 30px;
}