.t{
    border:3px solid rgb(0, 0, 0);
    width: 100px;
    height: 100px;
}

#wrap{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100vw;
    height:100vh;
    background-color: silver;
}

div{
    border:1px solid silver;
}

div.container{
    height: 100vh;
    background-color: gray;
    display: flex;
    flex-direction: column;
}

div.d1{
    width: 100px; height: 100px;
}

div.di:nth-child(odd){
    background-color: skyblue;
    padding: 20px 0px;
}

div.d1:nth-child(even){
    background-color: pink;
    height: 40px 0px;
}