.t{
    border:1px solid silver;
    width: 100px;
    height: 100px;
}

#wrap{
    display: flex;
    flex-direction: column-reverse;
}

div{
    border:1px solid silver;
}

div.container{
    height: 100vh;
    background-color: gray;
    display: flex;
    flex-direction: column;
}

div.d1{
    width: 100px; height: 100px;
}