.add{
    display: inline-block;

}

.lists{
    width: 50%;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

select{
    width: 15vw;
    height: 10vh;
}

.button{
    display: flex;
    flex-direction: column;
    text-align: center;
}