.add{
    display: inline-block;
    margin: 20px;
    padding: 10px;

}

.lists{
    width: 50%;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

select{
    width: 500px;
    height: 20vh;
}

.button{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px;
}