header{
    background-color: rgb(0, 0, 0);
    color: white;
    display: block;
}

header nav ul li a{
    color : white;
    display: inline-block;

    margin-left: 100px;
    float: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
}