#wrap{
    margin: 0 auto;
    width : 85%;
    background-color: silver;

}

div.line{
    width: 200px;
    height: 10px;
    background-color: rgb(117, 107, 107);
}

header{
    background-color: rgb(0, 0, 0);
    color: white;
    display: block;
}

header nav ul li a{
    color : white;
    margin-left: 50px;
    float: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
}

div{
    padding: 50px;
}

section article{
    float:left;
}

.container {
    display: flex; 
    text-align: left;
}


article {
    flex: 1; 
    padding: 20px; 
}

aside {
    flex: 0 0 300px;
    padding: 20px;
}
