
.accodian{
    width: 100%;
    height: 8vh;
    background-color: skyblue;
    border: 1px solid silver;
    margin: 1px;
    text-align: left;
    font-size: 30px;
}

.accodian:hover{
    background-color: rgba(135, 207, 235, 0.696);
}

.panel{
    display: none;
}