.tablist{
    display: flex;
    list-style: none;
}

.tabItem{
    padding: 50px;
    font-size: 30px;
}

.tabItem a{
    text-decoration: none;
    color: black;
    border: 1px solid silver;
    padding: 30px;
}
