.wrap{
    width: 85%;
    margin: 0 auto;
    border: 1px solid silver;
}

header{
    background-color: cadetblue;
    border : 2px solid silver;
    border-radius: 5px;
    padding: 3%;
    display: block;
}
nav ul li{
    display: inline-block;
    list-style: none;
}
nav ul li a{
    color : white;
    margin-left: 50px;
    float: right;

}

footer{
    background-color: rgb(192, 108, 122);
    border : 2px solid silver;
    border-radius: 5px;
    padding: 3%;
    margin-top: 2%;
}

.imgstyle {
    width: 200px;
    height: auto;
}